<!DOCTYPE html>
<html>
	<head>
		<title>Project BeEz - Pending Requests</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
		<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

		<script src="https://momentjs.com/downloads/moment.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

	<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">Project BeEz</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Inventory</a></li>
        <li><a href="/admin/orders">Orders <span class="badge">3</span></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome back, Akira F. <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Pending orders <span class="badge">3</span></a></li>
            <li><a href="#">Delivered orders <span class="badge">0</span></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Change password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
		<div id="app" class="container">
			<p>Welcome back, Akira F.</p>
			<h1>Dashboard</h1>

			<form method="POST" action="/admin/orders/create">
				<div class="form-group">
					<label for="Product">Product</label>
					<select class="form-control" name="product">
						<option value="Product 1">Product 1</option>
						<option value="Product 2">Product 2</option>
						<option value="Product 3">Product 3</option>
					</select>
				</div>

				<div class="form-group">
					<label for="quantity">Quantity</label>
					<input name="quantity" class="form-control" type="text">
				</div>

				<div class="form-group">
					<label for="expected_arrival">Expected Arrival</label>
					<input name="expectedArrival" class="form-control" type="date">
				</div>

				<div class="form-group">
					<input name="submit" class="btn btn-primary" type="submit">
				</div>
			</form>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Product</th>
						<th>Quantity</th>
						<th>Date Ordered</th>
						<th>Expected Arrival</th>
						<th>Order Status</th>
					</tr>
				</thead>
				<tbody>
					<tr style="">
						<td>Product 1</td>
						<td>10 <span class="badge">22</span></td>
						<td>TBA</td>
						<td>TBA</td>
						<td>Pending</td>
					</tr>
					<tr style="">
						<td>Product 7</td>
						<td>20 <span class="badge">27</span></td>
						<td>TBA</td>
						<td>TBA</td>
						<td>Pending</td>
					</tr>
					<tr v-for="product in products.data">
						<td>{{product.name}}</td>
						<td>{{product.quantity}} <span class="badge">11</span></td>
						<td>{{formatTime(product.date_ordered)}}</td>
						<td>{{formatDate(product.expected_arrival)}}</td>
						<td>{{orderStatus(1)}}</td>
					</tr>
					<tr>
						<td colspan=3><strong>Last updated:</strong> Nov 17, 2019 (3d ago) by Akiraf F.</td>
						<td colspan=2><strong>Last Ordered:</strong> 2 orders pending</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="/js/app.js"></script>
	</body>
</html>